BasedOnStyle: LLVM
AlignAfterOpenBracket: BlockIndent
# AlignConsecutiveAssignments: Consecutive
AlignArrayOfStructures: Right
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
IndentCaseLabels: true
ColumnLimit: 80
AccessModifierOffset: -4
NamespaceIndentation: None
FixNamespaceComments: false
AllowShortCaseLabelsOnASingleLine: true
BreakTemplateDeclarations: Yes
BinPackParameters: BinPack
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignTrailingComments:
  Kind: Always
AllowShortEnumsOnASingleLine: true
InsertNewlineAtEOF: true
ReflowComments: IndentOnly
